.navtabs-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}

.navtabs-wrapper a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .navtabs-wrapper {
    font-size: 24px;
  }
}
